beautifulsoup4==4.15.0
EbookLib==0.20
iniconfig==2.3.0
lxml==6.1.1
packaging==26.2
pillow==12.3.0
pluggy==1.6.0
Pygments==2.20.0
pymupdf==1.28.0
pytesseract==0.3.13
pytest==9.1.1
six==1.17.0
soupsieve==2.8.4
typing_extensions==4.16.0
