beautifulsoup4==4.15.0
click==8.4.2
EbookLib==0.20
iniconfig==2.3.0
lxml==6.1.1
ocrmac==1.0.1
packaging==26.2
pillow==12.3.0
pluggy==1.6.0
Pygments==2.20.0
pymupdf==1.28.0
pyobjc-core==12.2.1
pyobjc-framework-Cocoa==12.2.1
pyobjc-framework-CoreML==12.2.1
pyobjc-framework-Quartz==12.2.1
pyobjc-framework-Vision==12.2.1
pytesseract==0.3.13
pytest==9.1.1
six==1.17.0
soupsieve==2.8.4
typing_extensions==4.16.0
